body {
    display: grid;
    grid-template-areas: 
    "portfolio" 
    "form";
    background-color: rgb(151, 145, 145);
    margin: 0;
}

.portfolio {
    text-align: center;
    padding-bottom: 10px;
}

.form {
    text-align: center;
    padding-bottom: 10px;
}