body {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";

    grid-template-rows: 5% 1fr 5%;

    margin: 0;
}

.main {
    background-color: green;
    height: 100vh;
}

header {
    background-color: black;
}

footer {
    background-color: black;
}